/* start header */

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 11;
}

header .navbar-light .navbar-nav .nav-link {
    color: white;
    transition: 0.3s;
    position: relative;
}

header .navbar-light .navbar-nav .nav-link::before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -5px;
    background: #35a22c;
}

header .navbar-light .navbar-nav .nav-link:hover {
    color: #35a22c;
}

header .navbar-light .navbar-nav .active>.nav-link {
    color: #35a22c;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, .1);
}

header .navbar-toggler {
    background-color: #35a22c;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}


/* end header */


/* start carousel */

.carousel__bg {
    height: 100vh;
    object-fit: cover;
}

#carousel .carousel-caption img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#carousel .carousel-caption {
    bottom: 30%;
}

#carousel .carousel-item::before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carousel-indicators li.active {
    background-color: #35a22c;
}

.carousel-item h5 {
    font-size: 56px;
    line-height: 65px;
}


/* end carousel */


/* project */

.heading h2 {
    font-size: 36px;
    line-height: 42px;
    color: #1a1d2d;
    font-weight: 600;
}

.heading p {
    color: #585858;
    line-height: 24px;
}

.projects .nav-pills .nav-link.active,
.projects .nav-pills .show>.nav-link {
    background-color: #35a22c;
    color: #fff;
    border-color: #35a22c;
}

.projects .nav-pills .nav-link {
    color: #1a1d2d;
    border: 1px solid #1a1d2d;
    margin: 0 5px;
}

.projects__item {
    margin-top: 30px;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 0.4rem rgb(0 0 0 / 13%);
    border: none;
    cursor: pointer;
}

.projects__item .card-body {
    border: 1px solid transparent;
    border-radius: 0 0 1rem 1rem;
    transition: all .5s;
}

.feature {
    background: url("./image/3.jpg") no-repeat center;
    background-size: cover;
    padding: 100px 0 120px;
    background-attachment: fixed;
    position: relative;
}

.feature .overlay {
    background: rgba(7, 10, 12, .72);
}

.feature .heading {
    position: relative;
}

.heading h2 {
    font-size: 36px;
    line-height: 42px;
    color: #1a1d2d;
    font-weight: 600;
}

.heading {
    max-width: 750px;
}

.heading p {
    color: #585858;
    line-height: 24px;
}

.text-center {
    text-align: center;
}

.feature__item {
    padding: 40px 40px;
    transition: .3s;
    border-radius: 10px;
    background: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(3px);
    transition: all .5s;
}

.feature__item i {
    font-size: 48px;
    color: #35a22c;
}

.feature__item h4 {
    font-size: 20px;
    color: #fff;
    line-height: 30px;
    padding-top: 25px;
    font-weight: 800;
}

.feature__item p {
    padding-top: 15px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.feature__item:hover {
    background: #000;
    border-color: #fff;
}

.award {
    position: relative;
    color: #585858;
    padding: 70px 0;
}

.award__bg {
    background-image: url("./image/memphis_3.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 50% auto;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.award__left {
    background: rgba(255, 255, 255, .25);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .18);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
    padding: 45px;
}

.heading h2 {
    font-size: 36px;
    line-height: 42px;
    color: #1a1d2d;
    font-weight: 600;
}

.heading p {
    color: #585858;
    line-height: 24px;
}

.award__right {
    padding: 45px 0;
}

footer {
    background: #222;
}

footer p {
    color: #aaa;
    margin: 0;
}

.footer__main a {
    margin-right: 10px;
}

footer a {
    color: #aaa;
}

.footer__main i {
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 50%;
    border: 1px solid #454545;
    transition: all .5s;
}

.footer__copies {
    border-top: 1px solid #454545;
    padding-top: 30px;
    margin-top: 30px;
}